<html lang="en">
<!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js | <%= title %><</title>
</head> -->
<%- include('./partials/head.ejs') %>

<body>
  <!-- <h1>Home</h1>
  <h2>Your path to becoming a Node.js ninja!</h2> -->
  <%- include('./partials/nav.ejs') %>


  <div class="about content">
    <h2>About Us </h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, rerum vitae animi totam reiciendis corporis rem sunt. Labore officia, cum nisi debitis ut obcaecati eaque quo pariatur, dolorum ratione itaque?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, rerum vitae animi totam reiciendis corporis rem sunt. Labore officia, cum nisi debitis ut obcaecati eaque quo pariatur, dolorum ratione itaque?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, rerum vitae animi totam reiciendis corporis rem sunt. Labore officia, cum nisi debitis ut obcaecati eaque quo pariatur, dolorum ratione itaque?</p>
    
  </div>
  <%- include('./partials/footer.ejs') %>

</body>
</html>